$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'fontawesome/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
    font-family: 'Oswald', sans-serif;
    background-color: steelblue;
}

.cart {
    position: fixed;
    top: 0;
    right: 260px;
    width: 60px;
    background: navy;
    height: 52px;
    text-align: center;
    font-size: 25px;
    padding: 0 6px;
    line-height: 2;
    color: white;
    z-index: 98;
    cursor: pointer;
    .item-count {
        position: absolute;
        background: crimson;
        line-height: 0.7;
        padding: 0;
        border-radius: 2px;
        top: 5px;
        right: 5px;
        overflow: hidden;
        color: white;
        // height: 0;
        h5 {
            height: 10px;
            width: 10px;
            font-size: xx-small;
            line-height: 1;
            padding: 0;
            margin: 3px 2px 0px 2px;
            overflow: hidden;
            text-align: center;
        }
    }
    
    #cart-list {
        width: 320px;
        position: fixed;
        top: 52px;
        right: 0;
        background: rgba(231, 231, 231, 0.97);
        height: 0;
        overflow: hidden;
        box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
        cursor: default;
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s l inear;
        -o-transition: all 0.25s linear;
        .cart-items {
            background: rgba(white,0.6);
            overflow: hidden;
            width: 100%;
            margin: 17px auto 0;
            border-radius: 4px;
            padding: 5px;
            cursor: default;
            min-height: 50px;
            max-height: 280px;
            overflow-y: scroll;
            .col-sm-3 {
                width: 25%;
            }
            .item {
                height: auto;
                margin-top: 5px;
                padding: 0;
                img {
                    height: 80px;
                }
            }
        }
        .purchase{
            padding: 10px;

            h4{
                font-size: 16px;
                float: left;
                color: darkslategrey;
                line-height: 2;
                margin: 0;
            }
        }
    }
    .pay-btn{
        width: 100%;
        margin-top: 20px;
        background: rgb(165, 42, 42);
        font-size: 20px;
        letter-spacing: 1px;
    }
}
.opened{
	height: 100% !important;
}
#credits {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 260px;
    height: 52px;
    overflow: hidden;
    background: rgba(231, 231, 231, 0.97);
    box-shadow: -1px -3px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    .total-credits {
        float: left;
        padding: 0;
        margin: 0 15px;
        line-height: 2;
        color: #555;
        font-size: 20px;
        .total {
            color: crimson;
            font-size: larger;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    .credit-icon {
        background: navy;
        height: 52px;
        box-sizing: border-box;
        width: 60px;
        text-align: center;
        font-size: 25px;
        color: deepskyblue;
        line-height: 2;
        cursor: pointer;
        float: right;
    }
    .coins-list {
        padding: 10px;
        margin-bottom: 0;
        li {
            cursor: pointer;
            display: inline-block;
        }
        img {
            width: 55px;
        }
    }
    .bills-list {
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        li {
            cursor: pointer;
            padding: 0;
            margin: 10px 0;
        }
    }
    #coins {
        overflow: hidden;
        width: 250px;
        color: white;
        position: absolute;
        right: 0;
        top: 52px;
    }
}
.navbar{
    position: fixed;
    margin-bottom: 0;
    z-index: 10;
    border-radius: 0;
}
.products{
    background: rgba(black,0.4);
    padding: 10px 0px 5px;
    border-radius: 4px;
    margin-top: 70px;
    .container-fluid{
        padding-right: 6px;
    }
    .col-sm-3{
        width: 24%;
    }
	.item {
        overflow: hidden;
        padding: 0;
        margin: 5px 0 0;
        position: relative;
        cursor: pointer;
        max-height: 200px;
        height: 100%;
        text-align: center;
        margin-bottom: 10px;
        background: rgba(white,0.8);
        margin-right: 1%;
        border-radius: 4px;
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.05);
	    &:hover {
            box-shadow: 0 0 3px 1px rgba(0,0,0,0.15);
	        img {
	            filter: blur(2px) grayscale(80%) sepia(.4);
	            -ms-transform: scale(1.8);/* IE 9 */
	            -webkit-transform: scale(1.8);/* Chrome, Safari, Opera */
	            transform: scale(1.8);
	        }
	        .item-data {
	            opacity: 1;
	        }
	    }
	    img {
	        height: 200px;
	        -webkit-transition: all 0.25s linear;
	        -moz-transition: all 0.25s linear;
	        -o-transition: all 0.25s linear;
	    }
	    .item-data {
	        background-image: url(../images/grid.png);
	        top: 0;
	        position: absolute;
	        padding: 40px 0;
	        color: white;
	        width: 100%;
	        opacity: 0;
	        overflow: hidden;
	        -webkit-transition: all 0.15s linear;
	        -moz-transition: all 0.15s linear;
	        -o-transition: all 0.15s linear;
	        h3, h4 {
	            text-align: center;
	            font-size: large;
	            letter-spacing: 1px;
	            line-height: 2;
	        }
	        h3 {
	            font-family: 'Slabo 27px', serif;
	            background: rgba(navy, 0.9);
	            padding: 20px 0;
	            line-height: 1;
	            font-size: x-large;
	        }
	        h4 {
	            background: rgba(brown, 0.9);
	            line-height: 1.7;
	        }
	    }
	}
}

.upper-bar{
    background: #f8f8f8;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 52px;
    max-width: 320px;
    top: 0;
    z-index: 20;
    right: 0;
}


@media (max-width: 980px) {
    .col-sm-3{
        float: left;
    }
    .products{
        .item {
            margin-right: 1%;
            img{
                height: 180px;
            }
        }
    }
}
@media (max-width: 768px) {
    .navbar{
        width: 100%;
        .navbar-brand {
          font-size: 16px;
          letter-spacing: 0.2px;
        }
    }
    .products{
        
        .item {
            margin-right: 1%;
            margin-bottom: 0;
            img{
                height: 150px;
            }
            .item-data {
                padding: 20px 0;
                h3 {    
                  padding: 10px 0;
                  font-size: large;
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .upper-bar{
        max-width: 100%;
    }
    .navbar{
        width: 100%;
        bottom: 0;
        .navbar-brand {
            text-align: center;
            width: 100%;
            font-size: 18px;
        }
    }
    .products{
        margin-bottom: 70px;
        .item {
            margin-right: 1%;
            margin-bottom: 0;
            img{
                height: 130px;
            }

            .item-data {
                h3 {    
                  font-size: 16px;
                  letter-spacing: 0.5px
                }
            }
        }
        .col-sm-3{
            width: 32%;
        }
    }
}
@media (max-width: 480px) {
    .products{
        .col-sm-3{
            width: 49%;
        }
    }
    .navbar{
        .navbar-brand {
            font-size: 14px;
            letter-spacing: 0;
        }
    }
    .item {

        .item-data {
            h3 {    
              font-size: 14px;
            }
        }
    }
}